  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Poppins:wght@200;400&family=Roboto&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(to right bottom, rgb(209, 211, 225), rgb(171, 171, 178));
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
  }

  .container {
      /* position: absolute; */
      width: 74%;
      height: 95vh;
      background-color: white;
      border-radius: 10px;
      box-shadow: 20px 20px 50px rgb(150, 148, 148);
      overflow: hidden;
  }

  .nav-bar {
      height: 10vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 60px;
      font-family: 'Roboto', sans-serif;
  }

  .nav-bar ul {
      display: flex;
      gap: 35px;
      align-items: center;
  }

  .nav-bar ul li {
      list-style: none;
      font-size: 1vw;
      font-weight: 500;
      cursor: pointer;
  }

  .nav-bar ul i {
      display: none;
  }

  .nav-bar .logo {
      border: none;
      padding: 0.9rem 0.75rem;
      border-radius: 50%;
      font-size: 1.1vw;
      font-weight: 700;
      background-color: black;
      color: white;
      cursor: pointer;
  }

  .main {
    width: 100%;
    height: 90vh;
    display: flex;
  }

  .main-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90vh;
    /* border: 1px solid crimson; */
    padding: 8rem 3rem 2rem 7rem;
    gap: 0.5rem;
    font-size: 2.5vw;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }

  .main-left span {
    color: rgb(0, 140, 255);
  }

  .main-right {
    width: 50%;
    height: 90vh;
    /* border: 1px solid rgb(63, 220, 20); */
  }




  /* For Mobile Devices */

  @media (max-width: 700px) {

    /* header / navigaton menu */

    .container {
          width: 100%;
          height: 100vh;
          background-color: white;
          border-radius: 13px;
          box-shadow: 20px 20px 50px rgb(150, 148, 148);
          overflow: hidden;
    }

    .nav-bar {
        height: 13vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 18px;
        font-family: 'Roboto', sans-serif;
    }

    .nav-bar ul li {
        display: none;
    }

    .nav-bar ul i {
        display: block;
        font-size: 7vw;
    }

    .nav-bar .logo {
        font-size: 6.1vw;
        padding: 1rem 0.75rem;
    }


    /* Main Body section */

    .main {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
      }

      .main-left {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 45vh;
        /* border: 1px solid crimson; */
        padding: 2rem 2rem 2rem 2rem;
        gap: 0.8rem;
        font-size: 7.5vw;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
      }

      .main-right {
        width: 100%;
        height: 45vh;
        /* border: 3px solid rgb(20, 184, 72); */
      }
  
  }